node_modules/
package-lock.json
.DS_Store

# Ignore build output from the TypeScript compiler
build/

# Ignore temporary files that are sometime created by the 
# ASK CLI (when operations fail)
asktemp_*